<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h3 class="text-decoration-underline">Modificar la noticia.</h3>
            <form action="/admin/novedades/modificar" method="post">
                <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="mb-3 row">
                    <label class="Texmod" for="">Titulo</label>
                    <input type="text" class="form-control" name="titulo" value="{{novedad.titulo}}">
                </div>
                <div class="mb-3 row">
                    <label class="Texmod" for="">Cuerpo</label>
                    <textarea type="text" class="form-control" name="cuerpo">{{novedad.cuerpo}}</textarea>
                </div>
                <button type="submit" class="btn btn-success">Modificar</button>
            </form>
            {{#if error}}
            <p class="message"><i class="fa-solid fa-triangle-exclamation"></i> {{message}}</p>
            {{/if}}
        </div>
    </div>
</div>